*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --default-border: 0.1rem solid #d9d8d8;
    --default-border-radius: 1.2rem;


}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
}

.container{
    display: grid;
    grid-template-areas: 
        ". . . . ."
        ". hero . form ."
        ". hero . form ."
        ". . . . ."
    ;
    gap: 6.5rem;
}

main{
    grid-area: form;
}
aside{
    grid-area: hero;
}



aside h1{
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 30rem;

}

aside h1 span, main h1 span{
    color: #ff1616;
}

main{
    width: 60rem;
    height: 55rem;
    border:var(--default-border);
    padding: 4.4rem 5.7rem;
    border-radius: var(--default-border-radius);
    position: relative;
}

main header{
    display: flex;
    align-items: center;
    gap: 0 1.8rem;
}

main header i{
    color: #ff1616;
    font-size: 2.4rem;

}

main h1{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 30rem;

}

main .actions{
    display: flex;
    flex-flow: column wrap;
}

main .actions a{
    height: 5.5rem;
    background-color: #6cc9ff;
    font-size: 2.4rem;
    text-decoration: none;
    color: #fff;
    border-radius: var(--default-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    }

main .actions a + a{
    background-color: #ff1616;
    margin-top: 3rem;
}

main footer p{
    margin-top: 5rem;
    font-size: 1.6rem;
    text-align: center;

}

main footer a{
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: #000;

}

main form{
    margin-top: 1.4rem;
}

main form label {
    font-size: 1.8rem;
    font-weight: 400px;
    margin-bottom: 1rem;
    display: block;
}

main form :is(input,select){
    width: 489px;
    height: 5.5rem;
    display: block;
    border-radius: var(--default-border-radius);
    border:var(--default-border);
    background-color: #fff;

}

main form select{
appearance: none;
}

main form .select-div{
    position: relative;
}



main form .select-div::after{
    top: 1.4rem;
    right: 1.4rem;
    font-size: 2.4rem;
    color: #ff1616;
    font-weight: 600;
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    appearance: none;
    z-index: 1;

}


main form .points{
    position: relative;
}

main form input + button{
    position: absolute;
    right: -3.8rem;
    top: calc(2.7rem + 2.3rem);
    background-color: transparent;
    border: none;
    color: #ff1616;
    font-size: 2.4rem;
    cursor: pointer;
}