#article{
    display: flex;
    gap: 1rem;
}

#imgArticle1{
    width: 220px;
}

#article .article-infos h2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 12px;
}
#article .article-infos h3{
    font-size: 20px;
    font-weight: 400;
    color: #8695a4;
    margin-bottom: 1rem;
}

