*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    color: white;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main{
padding: 2rem;
background-color: #333 ;

border: #444 solid 1px;
border-radius: 10px;
max-width: 700px;
}

main > h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}


main #search-form form{
    width: 100%;
    gap: 1rem;
    display: flex;
    margin-bottom: 1rem;

}


main #search-form input{
    flex: 1;
    border: none;
    height: 32px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}

main #search-form button{
    border: none;
    background-color: green;
    color: white;
    padding: 0rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    height: 32px;
}

main #tempo-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main #tempo-info .tempo-dados h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

main #tempo-info .tempo-dados span{
    font-size: 3rem;
    font-weight: bold;
}